.container {
  justify-content: center;
  align-items: center;
}
.firstRow {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.textC {
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.151);
}
.buttonC {
  border-radius: 15px;
  border-color: black;
  margin-left: 20px;
  transition: 1s;
}
.buttonC:hover {
  border-radius: 20px;
  transition: 1s;
}
